*{
    box-sizing: border-box;
}

body, h1, h2, h3, h4 {
    margin: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #85C4FF;
    padding: 30px;
}

header nav {
    align-items: center;   
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

header nav a {
    color: black;
    font-weight: bold;
    margin: 0 15px;
    padding: 5px;
    text-decoration: none;
}

header-nav a:last-of-type {
    margin-right: 0;
}

header-nav a:first-of-type {
    margin-left: 0;
}

.heading-section {
    background-color: #F1CAF0;
    margin: 0 auto;
    padding: 40px;
    width: 100%;
}

.heading-section .interior {
    border: none;
    padding: 0px;
}

.heading-section .interior h1 {
    color: #6C0468;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 20px;
}

.heading-section .interior h2 {
    color: #6C0468;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 25px;    
}

.heading-section h3 {
    color: #6C0468;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 25px;     
}

.heading-section .interior h4 {
    color: #6C0468;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 25px;     
}

.heading-section .interior p {
    color: #6C0468;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 25px; 
}

section.section-element {
    margin: 0;
    padding: 40px;
}

section.box-model-section {
    background-color: #CFF1CA;
}

.interior {
    border: 10px solid #000000;
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px;
    width: 100%;
}

.interior h1 {
    color: #000000;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 45px;
}

.interior h2 {
    color: #000000;
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
}

.interior p {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}

.box-model-interior {
    background-color: #9EF490;
    border-color: #187908;
    min-height: 600px;
}

.flex-box-section {
    background-color: #F1D3CA;
}

.interior-flex {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}

.interior-flex > div {
    background-color: #FF9371;
    border: 10px solid #7D260B;
    margin: 0 0 40px 0;
}

.interior-flex--top {
    flex-basis: 100%;
    text-align: center;
}

.interior-flex--top > div {
    align-items: center;
    background-color: #FFECE5;
    border: 5px solid #DD4414;
    display: flex;
    margin: 40px auto 40px auto;
    max-width: 825px;
    justify-content: center;
    height: 170px;
    width: 100%;
}

.interior-flex--top > div > h1 {
    margin: 0;
}

.interior-flex--horizontal,
.interior-flex--vertical {
    display: flex;
    flex-basis: 48%;
    height: 324px;
    padding: 20px;
}

.interior-flex--horizontal > div,
.interior-flex--vertical > div {
    background-color: #FFECE5;
    border: 5px solid #DD4414;
    flex-basis: 33%;
}

.interior-flex--horizontal > div {
    margin-right: 20px;
}

.interior-flex--vertical > div {
    margin-bottom: 20px;
}

.interior-flex--horizontal > div:last-of-type, 
.interior-flex--vertical > div:last-of-type {
    margin: 0;
}

.interior-flex--vertical {
    flex-direction: column;
}

.positioning-section {
    background-color: #CAD7F1;
}

.positioning-section .interior {
    background-color: #85C4FF;
    border-color: #0E3F9E;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.positioning-section h1 {
    position: relative;
    z-index: 1;
}

.circle, .square {
    background-color: #4480F4;
    border: 10px solid #0E3F9E;
    height: 200px;
    position: absolute;
    width: 200px;
}

.circle {
    border-radius: 50%;
}

.circle-one {
    bottom: 48px;
    left: 48px;
}

.simple-javascript-section {
    background-color:#faefd3;
}

.simple-javascript-section .interior {
    border-color: #644904;
    color: #644904;
}

.simple-javascript-section h1 {
    color: #644904;
}

.counter-button-wrapper {
    display: flex;
    align-items: center;
}

.counter-button-wrapper p {
    color: #644904;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    margin: 0 40px 0 0;
}

.footer-section {
    background-color: #FFC3C3;
    position: absolute;
    width: 100%;
}

.footer-section .interior {
    border: none;
    width: 100%;
    padding: 25px;
}

.footer-section p {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}